<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/broadway.kyle.homework4/src/broadway/kyle/compositeHtmlRendering/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="broadway.kyle.compositeHtmlRendering.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="broadway.kyle.homework4"/>
</launchConfiguration>
